*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, rgb(128, 95, 117), rgb(219, 200, 203));
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
    line-height: 1.5;
    
}

h1{
    font-size:32px;
    text-align: center;
    padding:20px;
    color:rgb(22, 24, 24);

}

.container{
    width: 500px;
    padding:25px;
    margin:auto;
    background:rgb(255, 255, 255);
    border-radius: 20px;
    border: 5px outset rgb(31, 30, 30);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    text-align:center;
    color: rgb(36, 34, 34);
    padding:20px 10px;

}

.correo{
    width: 100%;
    border:outset rgb(117, 126, 180);
    border-radius: 30px ;
    background: none;
    padding: 10px;
    outline:none;
    margin-bottom: 15px;
}

.correo:focus{
    border-bottom:solid #2f53ca 2px;
}

.form__button{
    display: flex;
    justify-content:center;
}

.salir{
    text-decoration:none;
    background: #4b4949;
    padding: 5px 20px;
    color:rgb(227, 233, 233);
    font-size: 14px;
}

.salir:hover{
    background:#9c9797;

}

.enviar{
    background:white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    padding:5px 15px;
    font-style:rgb(224, 115, 115);
    border:groove;
    font-size: 14px;
}

.enviar:hover{
    background: linear-gradient(to right, rgb(128, 95, 117), rgb(219, 200, 203));
    

}
