* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f1f1;
}

.container {
    max-width: 1200px;
    margin-top: 30px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 35px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.form__correo {
    margin-bottom: 20px;
}

.correo {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form__button {
    text-align: center;
}

.enviar {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #303030;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.enviar:hover {
    background-color: #7d7d7d;
}

h2 {
    text-align: center;
    margin-top: 20px;
    font-weight: arial;
}

.titulo {
    font-size: 16px;
    text-align: center;
    color: rgb(36, 34, 34);
    padding: 20px 10px;
}

a {
    text-decoration: none;
    color: #303030;
    font-size: 20px;

}

.error-message {
    color: red;
}


.success-message {
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #b2b2b2;
    border-color: #ffffff;
    color: #343434;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.close-button {
    position: absolute;
    top: 4px;
    right: 5px;
    background: transparent;
    border: none;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}