.text_user{
    color: white;
    font-size: 20px;
    text-align: left;
}

.text_toast{
    color: black;
    font-size: 15px;
    text-align: justify;
}

.subir_icon{
    top: -50px;
    left: -50px;
}