:root{
    --negro: #000000;
    --blanco: #ffffff;
    --gris: #D6D6D6;
  }
  
  body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }
    
    .h1ME {
      font-weight: bold;
      color: var(--negro);
      text-align: left;
      margin: 2rem;
      position: absolute;
      top: 10px;
    }
  
    .formulario {
      background-image: url(../assets/generic1.jpg); /*Dos puntos para salir de la carpeta actual (css)*/
      background-repeat: no-repeat;
      background-size: cover;
      height: 1000px;
      position: relative;
      margin-bottom: 2rem;
    }
  
    .contenidoform{
      position: absolute;
      right: 410px;
      top: 110px;
      background-color: var(--negro);
      width: min(30rem, 100%); /*Utilizar el valor mas pequeño*/
      height: 750px;
      margin: 0 auto; /*Utilizar en elementos cuyo padre no es un display flex*/
      padding: 2rem;
      border-radius: 1rem;
      flex-direction: row;
      border-radius: 3rem;
    }

    .contenidoform p{
        color: var(--blanco);
        font-weight: bold;
    }
    
    form {
      max-width: 400px;
      margin: 0 auto;
    }
    
    label {
      display: block;
      margin-top: 10px;
      color: var(--blanco);
    }
    
    input[type="text"],
    input[type="tel"],
    textarea,
    select {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 5px;
    }
    
    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 10px;
      margin: 11px auto auto auto; 
      display: block;
    }
    
    input[type="submit"]:hover {
      background-color: #45a049;
    }
    