
body {
  height: 100%;
}

.titulo{
  
  font-family:"Britannic";
  font-size: 3rem;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.boton_regreso{
  align-content: center;

}

.letra-titulo{
  font-family:"Candara";
  font-size: 2rem;
}

.letra-subtitulo{
  font-family:"Candara";
  font-size: 1.5rem;
}

.letra-texto{
  font-family:"Candara";
  font-size: 1.2em;
}


button {
  --width: 180px;
  --timing: 2s;
  border: 0;
  width: var(--width);
  padding-block: 0.5em;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  background: rgb(3, 5, 4);
  transition: all 0.2s;
  border-radius: 5px;
}



@keyframes dance6123 {
  to {
    background-position: var(--width);
  }
}

.nav-link{
  font-family:"Candara";
  font-size: 1.2em;

}